<!DOCTYPE html>
<html lang="en" ng-app="NarrowItDownApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Module 3 Solution</title>
</head>
<body>
    <div class="container">
        <h1>Narrow your list</h1>
        <div ng-controller="NarrowItDownController as ctrl">
            <input type="text" ng-model="ctrl.searchTerm" placeholder="search term">
            <button ng-click="ctrl.getMatchedMenuItems(ctrl.searchTerm)">Narrow It Down For Me!</button>
            <found-items found-items="ctrl.found" on-remove="ctrl.removeItem(index)" empty-message="ctrl.message"></found-items>
        </div> 
    </div>           
</body>
</html>